[Unit]
Description=Odoo 14 (Open Source ERP and CRM)
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
User=taraz
Group=taraz
ExecStart=/opt/odoo14/venv/bin/python3.8 /opt/odoo14/odoo-bin --config /etc/odoo.conf
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target